.outer-left{
    background: #605BFF;
    .inner-left{
        background: #B7E9F640;
        .company-logo {
            .company-logo-icon {
                background-color: #605BFF;
                width: 8px;
                height :8px;
            }
        }
    }
}